XMLWorldCup/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="worldcup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="grupo" maxOccurs="unbounded"/>
				<xs:element ref="fase" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="time">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="gols" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="Africa do Sul"/>
						<xs:enumeration value="Alemanha"/>
						<xs:enumeration value="Arabia Saudita"/>
						<xs:enumeration value="Argentina"/>
						<xs:enumeration value="Belgica"/>
						<xs:enumeration value="Brasil"/>
						<xs:enumeration value="Camaroes"/>
						<xs:enumeration value="China"/>
						<xs:enumeration value="Coreia do Sul"/>
						<xs:enumeration value="Costa Rica"/>
						<xs:enumeration value="Croacia"/>
						<xs:enumeration value="Dinamarca"/>
						<xs:enumeration value="Equador"/>
						<xs:enumeration value="Eslovenia"/>
						<xs:enumeration value="Espanha"/>
						<xs:enumeration value="Estados Unidos"/>
						<xs:enumeration value="Franca"/>
						<xs:enumeration value="Inglaterra"/>
						<xs:enumeration value="Irlanda"/>
						<xs:enumeration value="Italia"/>
						<xs:enumeration value="Japao"/>
						<xs:enumeration value="Mexico"/>
						<xs:enumeration value="Nigeria"/>
						<xs:enumeration value="Paraguai"/>
						<xs:enumeration value="Polonia"/>
						<xs:enumeration value="Portugal"/>
						<xs:enumeration value="Russia"/>
						<xs:enumeration value="Senegal"/>
						<xs:enumeration value="Suecia"/>
						<xs:enumeration value="Tunisia"/>
						<xs:enumeration value="Turquia"/>
						<xs:enumeration value="Uruguai"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="d">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="jogo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="time" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="grupo">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="jogo" maxOccurs="unbounded"/>
				<xs:element ref="time" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="a"/>
						<xs:enumeration value="b"/>
						<xs:enumeration value="c"/>
						<xs:enumeration value="d"/>
						<xs:enumeration value="e"/>
						<xs:enumeration value="f"/>
						<xs:enumeration value="g"/>
						<xs:enumeration value="h"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="gols">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fase">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="grupo" maxOccurs="unbounded"/>
				<xs:element ref="jogo" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Oitavas-de-final"/>
						<xs:enumeration value="Quartas-de-final"/>
						<xs:enumeration value="final"/>
						<xs:enumeration value="primeira"/>
						<xs:enumeration value="semifinal"/>
						<xs:enumeration value="terceiro-lugar"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
